# ESP-IDF / CMake
**/build/
**/.vscode/
build/
sdkconfig.old

# Component Manager（若希望由 CI/本地重新拉取依赖，可取消下一行注释）
# **/managed_components/

# 工具与系统
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE（按需删除：若需提交 .vscode 团队配置，请删掉下面两行）
.idea/

# 编译数据库（若使用 idf.py 生成且不希望入库）
# compile_commands.json
